#car {
  max-width: 60%;
  position: absolute;
  bottom: 5%;
  overflow: visible;
}
.light {
  display: none;
}
#moon {
  max-width:40%;
  position: absolute;
  left: 30%;
  bottom: 30%;
}
body {
  background: #5B5B5B;
  overflow: hidden;
}
#cloudOne {
  position: absolute;
  max-width: 25%;
  bottom: 60%;
  left: 20%;
}
#cloudTwo {
  position: absolute;
  max-width: 25%;
  bottom: 45%;
  left: 55%;
}
#cloudThree {
  position: absolute;
  max-width: 25%;
  bottom: 40%;
  left: 20%;
}
#fence {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  height: 15vw;
  background: url('https://s3-eu-west-1.amazonaws.com/nrddesign/fence_panel.png') top left repeat-x;
  background-size: contain;
}